.App {
  text-align: center;
}
.container {
  display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 3px solid black;
    border-width: medium;
    border-style: outset;
    border-radius: 10px;
    width: 70%;
    margin: auto;
    margin-top: 8em;
    background-color: darkseagreen;
    height: 300px;
}
#submit {
  height: 19.5px;
}
.title {
  color: navy;
}
.total {
  color: darkred;
}
